<h1>About</h1>
<p>This is my about page. My name is Sabri Ibrahim. This is my first Ruby on Rails First Try :) <%= link_to "I'm a Front End Developer from Malaysia", "http://www.sabriibrahim.my" %>
</p>
